html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

body {
  min-width: 720px;
  font-size: 14px;
  background-color: #ccc;
}

#nowPlayingBarContainer {
  width: 100%;
  min-width: 620px;
  background-color: #0d324d;
  position: fixed;
  bottom: 0;
}

#nowPlayingBar {
  display: flex;
  height: 80px;
  padding: 16px;
}

#nowPlayingLeft,
#nowPlayingRight {
  width: 30%;
  min-width: 180px;
}

#nowPlayingCenter {
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nowPlayingBar .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#nowPlayingBar .button {
  margin: 0 auto;
  display: table;
}

.controlButton {
  background-color: transparent;
  border: none;
  vertical-align: middle;
}
.controlButton img {
  width: 25px;
  height: 25px;
  outline: none;
}
.controlButton:hover img {
  transform: scale(1.2);
}
.controlButton.play img,
.controlButton.pause img {
  width: 35px;
  height: 35px;
}
.controlButton:hover {
  cursor: pointer;
}

.playbackBar {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.progressTime {
  color: #a0a0a0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}
.progressBar {
  width: 100%;
  height: 4px;
  display: inline-flex;
  cursor: pointer;
}

.progressBarBg {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #eee;
  border-radius: 2px;
}
.progressBarBg .progress {
  width: 0px;
  height: 4px;
  background-color: #ff9191;
  border-radius: 2px;
}

#nowPlayingLeft .content {
  height: 100%;
  flex-direction: row;
  align-items: center;
}

#nowPlayingLeft .albumArtwork {
  max-width: 80px;
  margin-right: 15px;
  background-size: cover;
  border: 1px solid #7ab6ff;
}

#nowPlayingLeft .trackInfo {
  color: #fff;
  align-self: flex-start;
  margin: 6px 0;
}

#nowPlayingLeft .trackInfo .trackName {
  width: 100%;
  margin: 6px 0;
  display: inline-block;
}
#nowPlayingLeft .trackInfo .artistName {
  font-size: 12px;
  color: #999;
}
#nowPlayingLeft .trackInfo .artistName::before,
#nowPlayingLeft .trackInfo .artistName::after {
  content: " - ";
}

#nowPlayingRight {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#nowPlayingRight .volumeBar {
  width: 180px;
  display: flex;
  align-items: center;
}

.volumeBar .progressBar {
  width: 125px;
}

#topContainer {
  width: 100%;
  min-height: 100%;
}

#navBarContainer {
  background-color: #eee;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.navBar {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.navBar .logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar .logo img {
  width: 32px;
  margin: 0 0 15px 0;
}
.navBar .logo h1 {
  color: #ff9191;
  font-size: 20px;
  margin: 0 0 15px 20px;
}

.navBar .group {
  border-top: 1px solid #94b0da;
  padding: 6px 0;
}

.navBar .navItem {
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0;
  letter-spacing: 1px;
  position: relative;
}
.navItem .icon {
  position: absolute;
  right: 0;
  top: 8px;
  width: 20px;
}

.navBar .navItemLink {
  text-decoration: none;
  color: #7ab6ff;
}
.navBar .navItemLink:hover {
  color: #fff;
  cursor: pointer;
}

/* MAIN CONTENT */
#mainViewContainer {
  width: calc(100% - 220px);
  margin-left: 220px;
  padding-bottom: 80px;
}

#mainContent {
  padding: 0 20px;
}

.pageHeadingBig {
  padding: 20px;
  text-align: center;
  color: #0d324d;
}

.gridViewContainer {
  color: #0d324d;
}
.gridViewContainer h2 {
  text-align: center;
}
.gridViewItem {
  display: inline-block;
  width: 20%;
  max-width: 200px;
  min-width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.gridViewItem span {
  text-decoration: none;
  color: #0d324d;
}
.gridViewItem img {
  width: 100%;
  border-radius: 5px;
}

.gridViewInfo {
  text-align: center;
  font-weight: 500;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* ALBUM page */
.entityInfo {
  padding: 40px 0 10px 0;
  display: inline-block;
  width: 100%;
  color: #0d324d;
}

.entityInfo .leftSection {
  width: 30%;
  float: left;
  max-width: 250px;
}
.entityInfo .leftSection img {
  width: 100%;
  border: 3px solid #eee;
}

.entityInfo .rightSection {
  width: 70%;
  float: left;
  padding: 5px 10px 5px 40px;
  box-sizing: border-box;
  color: #0d324d;
}
.entityInfo .rightSection h2 {
  font-size: 24px;
  margin-top: 0;
}
.entityInfo .rightSection span {
  font-weight: 400;
}

.tracklistContainer {
  color: #0d324d;
}
.tracklistContainer h2 {
  text-align: center;
}
.tracklist {
  padding: 0;
}

.tracklistRow {
  list-style: none;
  padding: 15px 10px;
  height: 40px;
}
.tracklistRow:hover {
  background-color: #ddd;
  cursor: pointer;
}

.tracklistRow span {
  font-weight: 200;
  color: #0d324d;
}

.tracklistRow .trackCount {
  float: left;
  width: 8%;
}
.tracklistRow .trackCount img {
  visibility: hidden;
  width: 20px;
  position: absolute;
  cursor: pointer;
}
.tracklistRow:hover .trackCount img {
  visibility: visible;
}
.tracklistRow .trackCount span {
  visibility: visible;
}
.tracklistRow:hover .trackCount span {
  visibility: hidden;
}

.tracklistRow .trackInfo {
  width: 75%;
  float: left;
}
.tracklistRow .trackInfo .trackName {
  color: #000;
}
.tracklistRow .trackInfo .artistName {
  font-size: 12px;
  color: #fff;
}
.tracklistRow .trackInfo span {
  display: block;
}

.tracklistRow .trackOptions {
  width: 5%;
  float: left;
  text-align: right;
}
.tracklistRow .trackOptions img {
  width: 15px;
  visibility: hidden;
}
.tracklistRow:hover .trackOptions img {
  visibility: visible;
}

.tracklistRow .trackDuration {
  width: 12%;
  float: left;
  text-align: right;
}

/* ARTIST PAGE */
.artistInfo {
  text-align: center;
}

.button {
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid #fff;
  border-radius: 500px;
  padding: 15px;
  min-width: 130px;
}
.button.blue {
  background-color: #7ab6ff;
  border-color: #7ab6ff;
}
.button.blue:hover {
  background-color: #0d324d;
  border-color: #0d324d;
}

.borderBottom {
  border-bottom: 1px solid #94b0da;
  margin-bottom: 20px;
}

[role="link"] {
  cursor: pointer;
}

/* SEARCH PAGE */
.searchContainer {
  background-color: #ccc;
  padding: 20px 28px;
}
.searchContainer h4 {
  margin: 0;
  font-weight: 600;
  color: #0d324d;
}
.searchContainer .searchInput {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #0d324d;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 2px;
}
input:focus {
  outline: 4px solid #ddd;
}

.artistsContainer h2 {
  color: #0d324d;
  text-align: center;
}
.searchResultRow {
  padding: 15px 10px;
}
.searchResultRow:hover {
  background-color: #ddd;
}
.searchResultRow .artistName span {
  color: #0d324d;
}

.noResults {
  margin: 15px;
  display: block;
  color: #999;
}
